@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap");


*{
    padding: 0;
    margin: 0;
    font-family: Roboto, sans-serif;
}

body{
    background-color: blanchedalmond;
    height: 1000px;
}

.header .menu{
    height: 50px;
    width: 100vw;
    background-color: white;     
    display: flex;
    justify-content: space-between;    
    position: fixed;
}

.header .menu .logo{
    padding-bottom: 5px;
    padding-top: 5px;
    padding-left: 5px;
}

.header .menu .navbar{
    display: flex;
    align-items: center;
    padding-right: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.header .menu .navbar li{
    list-style: none;
    margin-left: 20px;
    margin-right: 20px;
    cursor: pointer;        
}

.header .menu .navbar li:hover{
    font-size: 18px;
    color: deeppink;
}